body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h3 ul li {
  display: inline;
  list-style: none;
  padding-left: 40px;
}

code {
  background-color: black ;
  color: white;
  padding: 1px;
  border-radius: 2px;
}

pre {
  background-color: black;
}

nav {
  padding: 1px;
  background-color: rgb(228, 228, 228);
}
.navbar {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.navbar li {
  display: inline;
}